{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}


{% block content %}
    <div class="container">
        <div class="card-header text-center py-3">
            <h3 class="text-white">URL LIst</h3>
        </div>
        <div class="row">
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {% bootstrap_messages %}

            <div class="px-3 py-4 bg-light">
				<ol style="list-style-type: number;">
                    {% for url in url_list %}
                        <li>
                            <ul style="list-style-type: circle;">
                                <li>New Url: <a class="link-primary" href="#">{{ url.new_short_url }}</a></li>
                                <li>Previous Url: <a class="link-primary" href="#">{{ url.original_url }}</a></li>
                                <li>Created By: <strong>{{ url.created_by }}</strong></li>
                                {% buttons %}
                                    <a href="{% url 'shortener:url_detail' url.pk %}", class="btn btn-success">View</a>
                                    <a href="{% url 'shortener:delete_url' url.pk %}", class="btn btn-danger">Delete</a>
                                {% endbuttons %}
                                {% comment %}  {% endcomment %}
                            </ul>
                            
                        </li>
                    {% endfor %}
                </ol>
			</div>
        </div>
        <div>
            <div><br><br><br></div>
        </div>
    </div>
{% endblock %}
