{% load static %}
{% load i18n %}
{% comment %} {% load bootstrap5 %} {% endcomment %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'account/allauth/style.css' %}" >
	  <link rel="stylesheet" type="text/css" href="{% static 'shortener/css/index.css' %}" >
    <title>Django Url Shortener</title>
  </head>
  <body>
    <header id="home">
      
      <!--Navbar-->
      {% include 'navbar.html' %}
      <!--navbar-->


      <!-- Background Image -->
      <div class="bg-img" style="background-image: url('{% static "shortener/img/url_shortener_png.png" %}');">
        <div class="overlay"></div>
      </div>
      <!-- /Background Image -->


      <br>
      {% block content %}

      {% endblock content %}

    </header>
    <!-- Footer -->
    <div class="row">
        <footer class="page-footer font-small fixed-bottom" style="background-color: black">

          <!-- Copyright -->
          <div class="footer-copyright text-center green py-3" style="color: #ffffff">
            Copyright © <a href="https://www.linkedin.com/in/elius-mgani/">eliusmgani</a>
          </div>
          <!-- Copyright -->

        </footer>
    </div>
    <!-- Footer -->
    
  </body>
</html>