{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
      <li>
        <a title="{{brand.name}}" 
          class="socialaccount_provider {{provider.id}} {{brand.id}}" 
          href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
          >{{brand.name}}</a>
      </li>
    {% endfor %}
  {% endif %}
  
  {% comment %} <li>
    <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
      href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
  </li> {% endcomment %}
  {% if provider.name == "Facebook" %}
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} py-1 btn btn-lg btn-primary col-6 mx-auto"
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <i class="fa fa-facebook fa-fw"></i>   Login with  {{provider.name}}</a>

  {% elif provider.name == "LinkedIn" %}
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} py-1 btn btn-lg btn-info col-6 mx-auto" 
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <i class="fa fa-linkedin fa-fw"></i>    Login with {{provider.name}}</a>

  {% elif provider.name == "Google" %}
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} py-1 btn btn-lg btn-outline-dark col-6 mx-auto mr-1"
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <i class="fa fa-google fa-fw"></i>     Login with  {{provider.name}}</a>
  {% else %}
  {% endif %}
{% endfor %}
