{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

  <div class="container">
		<div class="card mt-5">
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      {% bootstrap_messages %}

      <div class="card-header text-center py-1">
        <h3>{% trans "Sign Out" %}</h3>
			</div>

      <p class="font-weight-bold">{% trans 'Are you sure you want to sign out?' %}</p>

      <div class="col col-6">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          {% buttons %}
            <button class="btn btn-info" type="submit">{% trans "Sign Out" %} &raquo;</button>
          {% endbuttons %}
        </form>
      </div>
      <div>
          <div><br><br><br></div>
      </div>
    </div>
  </div>

{% endblock %}

