{% extends "base.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {% bootstrap_messages %}

            <div class="card-header text-center py-1">
                <h3>
                    {% if token_fail %}
                        {% trans "Bad Token" %}
                    {% else %}
                        {% trans "Change Password" %}
                    {% endif %}
                </h3>
            </div>

            <div class="col col-6">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}
                            The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                        {% endblocktrans %}
                    </p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        {% bootstrap_form form %}

                        {% buttons %}
                            <input type="submit" class="btn btn-info" name="action" value="{% trans 'change password' %}"/>
                        {% endbuttons %}
                    </form>
                {% endif %}
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            <div>
                <div><br><br><br></div>
            </div>
        </div>
    </div>
{% endblock %}


